
body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color:rgb(238, 241, 246);
}


.advertencia{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


.container-fluid{
    background-color: rgb(2, 2, 20);
    padding: 10px;
    position: fixed;
    top: 0;
}



.navbar-brand{
    color: rgb(255, 255, 255);
     font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.navbar-brand:hover{
    color: white !important;
}
.navbar-var{
    padding: 0;

}

 .nav-link{
    color: gray;
}

 .nav-link:hover{
    color: white !important;
   
}
.home-text-head-container{
    margin-top: 100px;
    padding-left: 20px;
}

.secction-titulo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;

}

.secction-text{
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
 width: 100%;

                


}

.cuadro-home{
            margin: 5px;


    background-color: white;
     min-height: 100px;
    max-width: 280px;
    border: 2px solid rgba(188, 188, 188, 0.795);
    border-radius: 20px;
    
    border-left: 7px solid  rgba(188, 188, 188, 0.795) ;


}

.cuadros{
    margin-top: 30px;

            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;

    /*  border: 2px solid black;*/
   
}
.cuadros-container{

    display: flex;
    justify-content: space-between;
       
        /*    border: 2px solid rgb(255, 0, 0); */




}
.cuadro-descripcion{
    color: gray;
    font-size: 15px;
}


.ordenes-seccion{
        width: 100%;
display: flex;
    justify-content: center;
    align-items: center;

}

.tabla-head{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;

    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-top: 2px solid rgba(220, 220, 220, 0.887) ;
    border-left: 2px solid rgba(220, 220, 220, 0.887) ;
    border-right: 2px solid rgba(220, 220, 220, 0.887) ;
padding: 20px 25px  0px;

}




th{
        background-color:rgb(238, 241, 246);
    color: gray;  
      padding: 14px; 

      font-size: 13px;
      
}

.tr-th{
     border-left: 2px solid rgba(220, 220, 220, 0.887) ;
    border-right: 2px solid rgba(220, 220, 220, 0.887) ;
}

.ordenes-tabla{
    width: 100%;
}

.tabla-ordenes-contenedor{
        width: 90%;

}

table{
    border-left: 2px solid rgba(220, 220, 220, 0.887) ;
    border-right: 2px solid rgba(220, 220, 220, 0.887) ;
    border-bottom: 2px solid rgba(220, 220, 220, 0.887) ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.tabla-text-head{
    font-size: 15px;
}

.recientes{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -6px;
    color: gray;
}

.link-ver-todas-ordenes{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}

td{
    background-color: white;
    padding: 20px;
    text-align: center;
}


a{
    text-decoration: none;
}


.accesos-rapido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acceso-rapido-contenedor{
        width: 90%;
      

}

.acceso-home{
    background-color: white;

    height: 150px;
    width: 300px;
}







@media ( max-width:1000px) {

    .cuadro-home{
 
    

}
}


